.red {
    color: red;
}
/* .red is used to refer classes */
#firstDiv {
    background-color: rgb(221, 255, 0);
}
blockquote {
    border-left: 5px solid green;
    margin-left: 20px;
    padding-left: 10px;
    background-color: brown;
}
q{
    background-color: violet;
}